<nav>
<%= link_to groups_path, class: 'back_btn' do %>
<img class='back_btn'src="https://img.icons8.com/ios/50/ffffff/back--v1.png" alt="back--v1"/>
<%end%>
<p>REGISTER</p>
  <%= link_to "LOG IN", new_session_path(resource_name) %><br />
</nav>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "place-field" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "place-field" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "place-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password_confirmation", class: "place-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Next", class: 'actions-btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
