<div class="login-wrapper">
<h2>LOGIN</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "place-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "place-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
