<nav>
    <div class='burger_menu'>
      <%= link_to groups_path, class: 'back_btn' do %>
        <img src="https://img.icons8.com/material-outlined/24/ffffff/back--v1.png" alt="back"/>
      <% end %>
    </div>
    <p>TRANSACTIONS</p>
        <%= button_to "SIGN OUT", destroy_user_session_path, method: :delete, class: 'signout' %>
  </nav>

<div class="transaction-container">
<div class="transaction-header">

<div class="transaction-wrapper">
<% @operations.each do |operation|%>
<h5 class="transaction-title"><%= operation.name %></h5>
<p class="transaction-totale"><%= operation.total_amount %></p>
<p class="transaction-amount"><%= operation.amount %></p>

<% end %>
</div>

</div>


<footer id = 'new_category'>
<%=link_to 'ADD NEW TRANSACTION', new_group_operation_path(@group), class: 'new_category_btn' %>
</footer>